<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Printer 3000</title>
    </head>
    <body>
        <h1>User Story Manager</h1>
        <a href="/story">Add new user story</a>
        <table>
            <tr>
                <th> ID </th>
                <th> Story Title </th>
                <th> User Story </th>
                <th> Acceptance Criteria </th>
                <th> Business Value </th>
                <th> Estimation </th>
                <th> Status </th>
            </tr>
            {% for row in story_info %}
            <tr>
                {% for element in row %}
                    <td>{{ row[loop.index0] }}</td>
                {% endfor %}
                <td><a href="/story/{{ row[0] }}">edit</a>
            </tr>
            {% endfor %}
            
    </body>
</html>