<!DOCTYPE html>
{% if order == 'ascending' %}
    {% set ordering = 'descending' %}
{% elif order == 'descending' %} 
    {% set ordering = 'ascending' %}
{% else %}
    {% set ordering = 'descending' %}
{% endif%}
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Printer 3000</title>
    </head>
    <body>
        <h1>User Story Manager</h1>
        <form action="{{url_for('route_new')}}" method="get">
            <p><input type="submit" value="Add new user story"></p>
        </form>
        <table>
            <tr>
                <th> ID </th>
                <th> Story Title </th>
                <th> User Story </th>
                <th> Acceptance Criteria </th>
                <th><a href="{{url_for('route_index', criteria='business_value', order=ordering )}}" > Business Value </a></th>
                <th> Estimation </th>
                <th> Status </th>
            </tr>
            {% for row in story_info %}
            <tr>
                {% for element in row %}
                    <td>{{ row[loop.index0] }}</td>
                {% endfor %}
                {% if row %}
                    <td><a href="/story/{{ row[0] }}"><img src="/static/images/edit.svg" width="20" height="20" alt="Edit"></a></td>
                    <td><a href="/story/delete/{{ row[0] }}"><img src="/static/images/waste-bin.svg" width="20" height="20" alt="Delete"></a></td>
                {% endif%}
            </tr>
            {% endfor %}
            
    </body>
</html>