<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Printer 3000</title>
    </head>
    <body>
        <h1>User Story Manager</h1>
        <form action="/story" method="post">
            <button type="Submit">Add new User Story</button>
        </form>
        <table>
            <tr>
                <th> ID </th>
                <th> Story Title </th>
                <th> User Story </th>
                <th> Acceptance Criteria </th>
                <th> Business Value </th>
                <th> Estimation </th>
                <th> Status </th>
            </tr>
    </body>
</html>